<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Setting>
    <CorpseHudEnabled>false</CorpseHudEnabled>
    <LandscapeHudEnabled>false</LandscapeHudEnabled>
    <InspectorHudEnabled>false</InspectorHudEnabled>
    <ButlerHudEnabled>false</ButlerHudEnabled>
    <CombatHudEnabled>false</CombatHudEnabled>
	  <RemoteGearEnabled>true</RemoteGearEnabled>
	  <PortalGearEnabled>true</PortalGearEnabled>
    <KillTaskGearEnabled>true</KillTaskGearEnabled>
	  <QuickSlotsvEnabled>true</QuickSlotsvEnabled>
    <QuickSlotshEnabled>true</QuickSlotshEnabled>
    <InventoryHudEnabled>false</InventoryHudEnabled>
    <InventoryEnabled>false</InventoryEnabled>
    <InventoryCompleteEnabled>false</InventoryCompleteEnabled>
    <ToonStatsEnabled>false</ToonStatsEnabled>
    <ToonArmorEnabled>false</ToonArmorEnabled>
    <ArmorHudEnabled>false</ArmorHudEnabled>
    <EnableTextFiltering>false</EnableTextFiltering>
    <TextFilterAllStatus>false</TextFilterAllStatus>
    <ItemFontHeight>12</ItemFontHeight>
    <MenuFontHeight>10</MenuFontHeight>
  </Setting>
</Settings>