<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Setting>
    <CorpseHudEnabled>false</CorpseHudEnabled>
    <LandscapeHudEnabled>false</LandscapeHudEnabled>
    <InspectorHudEnabled>false</InspectorHudEnabled>
    <ButlerHudEnabled>false</ButlerHudEnabled>
    <CombatHudEnabled>false</CombatHudEnabled>
    <RemoteGearEnabled>true</RemoteGearEnabled>
    <QuickSlotsvEnabled>true</QuickSlotsvEnabled>
    <QuickSlotshEnabled>true</QuickSlotshEnabled>
    <InventoryHudEnabled>false</InventoryHudEnabled>
    <InventoryEnabled>false</InventoryEnabled>
    <InventoryCompleteEnabled>false</InventoryCompleteEnabled>
    <ToonStatsEnabled>false</ToonStatsEnabled>
    <ToonArmorEnabled>false</ToonArmorEnabled>
    <ArmorHudEnabled>false</ArmorHudEnabled>
    <MuteSounds>false</MuteSounds>
    <EnableTextFiltering>false</EnableTextFiltering>
    <TextFilterAllStatus>false</TextFilterAllStatus>
    <TextFilterBusyStatus>false</TextFilterBusyStatus>
    <TextFilterCastingStatus>false</TextFilterCastingStatus>
    <TextFilterMyDefenseMessages>false</TextFilterMyDefenseMessages>
    <TextFilterMobDefenseMessages>false</TextFilterMobDefenseMessages>
    <TextFilterMyKillMessages>false</TextFilterMyKillMessages>
    <TextFilterPKFails>false</TextFilterPKFails>
    <TextFilterDirtyFighting>false</TextFilterDirtyFighting>
    <TextFilterMySpellCasting>false</TextFilterMySpellCasting>
    <TextFilterOthersSpellCasting>false</TextFilterOthersSpellCasting>
    <TextFilterSpellExpirations>false</TextFilterSpellExpirations>
    <TextFilterManaStoneMessages>false</TextFilterManaStoneMessages>
    <TextFilterHealingMessages>false</TextFilterHealingMessages>
    <TextFilterSalvageMessages>false</TextFilterSalvageMessages>
    <TextFilterBotSpam>false</TextFilterBotSpam>
    <TextFilterIdentFailures>false</TextFilterIdentFailures>
    <TextFilterKillTaskComplete>false</TextFilterKillTaskComplete>
    <TextFilterVendorTells>false</TextFilterVendorTells>
    <TextFilterMonsterTells>false</TextFilterMonsterTells>
    <TextFilterNPCChatter>false</TextFilterNPCChatter>
    <ItemFontHeight>12</ItemFontHeight>
    <MenuFontHeight>10</MenuFontHeight>
  </Setting>
</Settings>