<?xml version="1.0"?>
<?define GFAddonID="{4be061a1-3f70-423c-8571-3542dd63373e}"?>
<?define GFVTIAddonID="{cafc3e03-de72-417d-a2b8-aaa8145dc523}"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="Games" Name="Games">
				<Directory Id="INSTALLDIR" Name="GearFoundry">
					<Component Id="LicenseFile" Guid="59b682e1-c790-43ba-a9e2-54ffad8f4540" DiskId="1">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf"/>
					</Component>
					<Component Id="GearFoundry" Guid="$(var.GFAddonID)" DiskId="1">
						<File Id="GearFoundry" Name="GearFoundry.dll" Source="../GearFoundry/bin/release/GearFoundry.dll"/>
					</Component>
					<Component Id="GFVTInterop" Guid="$(var.GFVTIAddonID)" DiskId="1">
						<File Id="GFVTI" Name="GFVTInterop.dll" Source="../GFVTInterOp/bin/release/GFVTInterop.dll"/>
					</Component>
				
					<Component Id="GFRegSettings">
						<RegistryKey Root="HKLM" Key="Software\Decal\Plugins\4be061a1-3f70-423c-8571-3542dd63373e">
							<RegistryValue Value="GearFoundry" Type="string"/>
							<RegistryValue Name="Assembly" Value="GearFoundry.dll" Type="string"/>
							<RegistryValue Name="Enabled" Value="1" Type="integer"/>
							<RegistryValue Name="Object" Value="GearFoundry.PluginCore" Type="string"/>
							<RegistryValue Name="Path" Value="[INSTALLDIR]" Type="string" />
							<RegistryValue Name="Surrogate" Value="{71A69713-6593-47EC-0002-0000000DECA1}" Type="string" />
						</RegistryKey>
					</Component>
					
				
					<Component Id="GFVTRegSettings">
						<RegistryKey Root="HKLM" Key="Software\Decal\LootPlugins\cafc3e03-de72-417d-a2b8-aaa8145dc523">
							<RegistryValue Value="GFVTInterOp" Type="string"/>
							<RegistryValue Name="Assembly" Value="GFVTInterOp.dll" Type="string"/>
							<RegistryValue Name="Object" Value="GFVTInterOp.LootPlugin" Type="string"/>
							<RegistryValue Name="Path" Value="[INSTALLDIR]" Type="string" />
						</RegistryKey>
					</Component>
				
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
	


</Wix>
